
/* un comentario, no afecta nada */

/*
selector {
  propiedad1: valor1;
  propiedad2: valor2;
}
*/


/* selector por nombre de etiqueta */


body {

  /* bgc#444444 */
  background-color: #444444;
  /* c#ffffff */
  color: #ffffff;

}

div {

  /* bgc#777777 */
  background-color: #777;

}


/* selector por nombre de clase */

.caja {

  /* w50p */
  width: 50%;

  /* p50 */
  padding: 50px;

  /* tac */
  text-align: center;

  /* bd */
  border: 5px solid white;

}


/* caja dentro de otra caja*/
.caja .caja {
  /* bgc#f00 */
  background-color: #f00;
}

/* solo las hijas directas */
.madre > .caja {
  /* bgc#f00 */
  background-color: #0f0;
}



/* selector por id - no se recomienda, mas que en casos especiales */
#mi-caja {
  border: 10px solid blue;
  color: #00f;
}
